.cs {
    font-family: sans-serif;
    text-align: center;
    width: auto;
    height: auto;
}

.sidebar {
    background-color: #171742;
}
.chart {
    background-color: grey;
    color: white;
}

.candle {
    stroke-width: 1;
}

.candle.up {
    fill: #81dfc4;
    stroke: #81dfc4;
}

.candle.down {
    fill: #d75b6d;
    stroke: #d75b6d;
}

.wick {
    stroke-width: 1.5;
}

.wick.up {
    stroke: #81dfc4;
}

.wick.down {
    stroke: #d75b6d;
}

.cross_hair {
    stroke: black;
    stroke-opacity: 70%;
    stroke-dasharray: 3;
}

.my_block {
    display: inline-block;
    padding: 20px;
    background-color: #004dac;
    margin: 20px;
    width: 48%;
}
